BOT_TOKEN=123456:ABC...
CHANNEL_ID=@seucanal
CHANNEL_LINK=https://t.me/seucanal
SUPPORT_LINK=https://t.me/suporte_laricontas
WEBAPP_URL=https://seu-webapp.onrender.com
BANNER_URL=
ADMIN_IDS=8939269687
DATABASE_PATH=larizinha.db
